
@{
    ViewBag.Title = "RestaurantPrices";
}

<head>
    <style>

    </style>
</head>
<h1 class="col-md-9"> Restaurant Prices</h1>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div>
        <div id="select-1" class="category-select" onclick="">
            <ul class="nav flex-column">
                <li class="nav-item">Appetizers</li>
            </ul>
        </div>
        <div id="select-2" class="category-select" onclick="">
            <ul class="nav flex-column">
                <li class="nav-item">Seafood</li>
            </ul>
        </div>
        <div id="select-3" class="category-select" onclick="">
            <ul class="nav flex-column">
                <li class="nav-item">Specialites</li>
            </ul>
        </div>
        <div id="select-4" class="category-select" onclick="">
            <ul class="nav flex-column">
                <li class="nav-item">Breakfast</li>
            </ul>
        </div>
        <div id="select-5" class="category-select" onclick="">
            <ul class="nav flex-column">
                <li class="nav-item">Sandwiches</li>
            </ul>
        </div>
        <div id="select-6" class="category-select" onclick=")">
            <ul class="nav flex-column">
                <li class="nav-item">Mexican Dinners</li>
            </ul>
        </div>
        <div id="select-7" class="category-select" onclick="">
            <ul class="nav flex-column">
                <li class="nav-item">Speciality Dinners</li>
            </ul>
        </div>
        <div id="select-8" class="category-select" onclick="">
            <ul class="nav flex-column">
                <li class="nav-item">Combinations</li>
            </ul>
        </div>
        <div id="select-9" class="category-select" onclick="">
            <ul class="nav flex-column">
                <li class="nav-item">On the LITE SIDE</li>
            </ul>
        </div>
    </div>
    <div id="price-container">
        <table id="prices-table">

        </table>
    </div>
</main>


