@model MVC5App.Models.RestaurantInventoryViewModel
@using MVC5App.Models

@{
    ViewBag.Title = "Error";
}

<h1 class="col-md-9">Database Error</h1>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

    <div>
        @Html.Raw(ViewData["error"])
    </div>
</main>
