@model MVC5App.Models.SalesModel
@{
    ViewBag.Title = "Sales";
}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>
    @Scripts.Render("~/Scripts/sales.js")
    <style>
        .category-select {
            float: left;
            border: solid 2px;
            background-color: #3e444c;
            border-color: transparent;
            padding: 10px 15px;
            margin: 1px;
            color: white;
        }

        #sales-year-select, #sales-daily-month-select, #sales-daily-year-select {
            font-size: 30px;
            color: #c8c9bf;
            background-color: #272b30;
            border: 0px;
        }

        #sales-container {
            clear: both;
        }

        .row-data {
            text-align: center;
        }

        .table table-striped table-sm, #sales-table {
            display: table;
        }

        th {
            text-align: center;
        }

        #numInput, #saveBut {
            background-color: transparent;
            border: 0px;
            color: beige;
            outline: none;
            border-bottom: dotted;
            border-bottom-color: beige;
        }

        .clickable, .nav-item {
            cursor: pointer;
        }
    </style>
    <title>Sale Practice Page</title>
</head>
<h1 class="col-md-9"> Sales</h1>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div>
        <div id="select-1" class="category-select" onclick="setCategory('Fountain',1)">
            <ul class="nav flex-column">
                <li class="nav-item">Fountain</li>
            </ul>
        </div>
        <div id="select-2" class="category-select" onclick="setCategory('BeerWine',2)">
            <ul class="nav flex-column">
                <li class="nav-item">Beer & Wine </li>
            </ul>
        </div>
        <div id="select-3" class="category-select" onclick="setCategory('Supplies',3)">
            <ul class="nav flex-column">
                <li class="nav-item">Supplies</li>
            </ul>
        </div>
        <div id="select-4" class="category-select" onclick="setCategory('CigPack',4)">
            <ul class="nav flex-column">
                <li class="nav-item">Cig Pack</li>
            </ul>
        </div>
        <div id="select-5" class="category-select" onclick="setCategory('CigCarton',5)">
            <ul class="nav flex-column">
                <li class="nav-item">Cig Carton</li>
            </ul>
        </div>
        <div id="select-6" class="category-select" onclick="setCategory('Lotto',6)">
            <ul class="nav flex-column">
                <li class="nav-item">Lotto</li>
            </ul>
        </div>
        <div id="select-7" class="category-select" onclick="setCategory('Propane',7)">
            <ul class="nav flex-column">
                <li class="nav-item">Propane</li>
            </ul>
        </div>
        <div id="select-8" class="category-select" onclick="setCategory('PackBeverage',8)">
            <ul class="nav flex-column">
                <li class="nav-item">Packaged Beverage</li>
            </ul>
        </div>
        <div id="select-9" class="category-select" onclick="setCategory('Coffee',9)">
            <ul class="nav flex-column">
                <li class="nav-item">Coffee</li>
            </ul>
        </div>
        <div id="select-10" class="category-select" onclick="setCategory('PhoneCard',10)">
            <ul class="nav flex-column">
                <li class="nav-item">PhoneCard</li>
            </ul>
        </div>
        <div id="select-11" class="category-select" @*onclick="setCategory('Tabacco')"*@>
            <ul class="nav flex-column">
                <li class="nav-item">Tabacco</li>
            </ul>
        </div>
        <div id="select-12" class="category-select" @*onclick="setCategory('GiftCard')"*@>
            <ul class="nav flex-column">
                <li class="nav-item">Gift Card</li>
            </ul>
        </div>
    </div>
    <br />
    <div id="sales-container">
        <div class="left-half">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h2>
                    Daily View of
                    <select id="sales-daily-month-select" onchange="displayDaily()">
                        <option value="1">Jan</option>
                        <option value="2">Feb</option>
                        <option value="3">Mar</option>
                        <option value="4">Apri</option>
                        <option value="5">May</option>
                        <option value="6">Jun</option>
                        <option value="7">Jul</option>
                        <option value="8">Aug</option>
                        <option value="9">Sep</option>
                        <option value="10">Oct</option>
                        <option value="11">Nov</option>
                        <option value="12">Dec</option>
                    </select>
                    <select id="sales-daily-year-select" onchange="displayDaily()">
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                    </select>
                </h2>
            </div>
            <canvas class="my-4" id="recentSalesChart" width="800" height="450"></canvas>
            <table id="sales-table" class="table table-striped table-sm" style="display:table"></table>
        </div>
        <div class="right-half">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <div id="yearly-container">
                    <h2>Yearly</h2>
                    <canvas class="my-4" id="yearlySalesChart" width="800" height="450"></canvas>
                    <table id="sales-table-yearly" class="table table-striped table-sm" style="display:table"></table>
                </div>
                <div id="monthly-container" style="display:none">
                    <div onclick="displayCategoryYearly()"> Back to Yearly</div>
                    <h2>
                        Monthly View of <select id="sales-year-select" onchange="displayCategoryMonthly(getYear(this))">
                            <option value="2018">2018</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                        </select>
                    </h2>

                    <canvas class="my-4" id="monthlySalesChart" width="800" height="450"></canvas>
                    <table id="sales-table-monthly" class="table table-striped table-sm"></table>
                </div>
            </div>
        </div>
    </div>
</main>






